[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf = "~=0.20.3"
pytest = "*"
cdktf-cdktf-provider-azuread = "~=12.0.0"
cdktf-cdktf-provider-azurerm = "~=12.7.0"
rich = "*"
